In [1]:
import pandas as pd
import seaborn as se

In [2]:
data_cyrillic = {
    'letter': ['а', 'б', 'в', 'г', 'д', 'е', 'ё', 'ж', 'з', 'и', 'й', 'к', 'л', 'м', 'н', 'о', 'п', 'р', 'с', 'т', 'у', 'ф', 'х', 'ц', 'ч', 'ш', 'щ', 'ъ', 'ы', 'ь', 'э', 'ю', 'я'],
    'rank': [3, 21, 9, 19, 13, 2, 33, 25, 20, 4, 23, 11, 10, 12, 5, 1, 14, 8, 7, 6, 15, 31, 24, 28, 22, 26, 29, 32, 17, 18, 30, 27, 16],
    'of_uses': [40487008, 8051767, 22930719, 8564640, 15052118, 42691213, 184928, 4746916, 8329904, 37153142, 6106262, 17653469, 22230174, 16203060, 33838881, 55414481, 14201572, 23916825, 27627040, 31620970, 13245712, 1335747, 4904176, 2438807, 7300193, 3678738, 1822476, 185452, 9595941, 8784613, 1610107, 3220715, 10139085],
    'frequency': ['8,01%', '1,59%', '4,54%', '1,70%', '2,98%', '8,45%', '0,04%', '0,94%', '1,65%', '7,35%', '1,21%', '3,49%', '4,40%', '3,21%', '6,70%', '10,97%', '2,81%', '4,73%', '5,47%', '6,26%', '2,62%', '0,26%', '0,97%', '0,48%', '1,44%', '0,73%', '0,36%', '0,04%', '1,90%', '1,74%', '0,32%', '0,64%', '2,01%']
}

df_cyrillic = pd.DataFrame(data_cyrillic)

In [3]:
df_cyrillic['frequency'] = [percent.rstrip('%') for percent in df_cyrillic['frequency']] 
df_cyrillic['frequency'] = [percent.replace(',', '.') for percent in df_cyrillic['frequency']]
df_cyrillic['frequency'] = pd.to_numeric(df_cyrillic['frequency'])

In [4]:
df_cyrillic = df_cyrillic.sort_values(by='frequency', ascending=False).reset_index(drop=True)
df_cyrillic

   letter  rank   of_uses  frequency
0       о     1  55414481      10.97
1       е     2  42691213       8.45
2       а     3  40487008       8.01
3       и     4  37153142       7.35
4       н     5  33838881       6.70
5       т     6  31620970       6.26
6       с     7  27627040       5.47
7       р     8  23916825       4.73
8       в     9  22930719       4.54
9       л    10  22230174       4.40
10      к    11  17653469       3.49
11      м    12  16203060       3.21
12      д    13  15052118       2.98
13      п    14  14201572       2.81
14      у    15  13245712       2.62
15      я    16  10139085       2.01
16      ы    17   9595941       1.90
17      ь    18   8784613       1.74
18      г    19   8564640       1.70
19      з    20   8329904       1.65
20      б    21   8051767       1.59
21      ч    22   7300193       1.44
22      й    23   6106262       1.21
23      х    24   4904176       0.97
24      ж    25   4746916       0.94
25      ш    26   3678738       0.73
26      ю    27   3220715       0.64
27      ц    28   2438807       0.48
28      щ    29   1822476       0.36
29      э    30   1610107       0.32
30      ф    31   1335747       0.26
31      ъ    32    185452       0.04
32      ё    33    184928       0.04

In [5]:
data_latin = {
    'letter': ['E', 'S', 'I', 'A', 'R', 'N', 'T', 'O', 'L', 'C', 'D', 'U', 'G', 'P', 'M', 'H', 'B', 'Y', 'F', 'V', 'K', 'W', 'Z', 'X', 'J', 'Q'],
    'texts':['12.7', '6.3', '7.0', '8.2', '6.0', '6.7', '9.1', '7.5', '4.0', '2.8', '4.3', '2.8', '2.0', '1.9', '2.4', '6.1', '1.5', '2.0', '2.2', \
             '0.98', '0.77', '2.4', '0.074', '0.15', '0.15', '0.095']

}

# Теперь переме

df_latin = pd.DataFrame(data_latin)
df_latin['texts'] = pd.to_numeric(df_latin['texts'])
df_latin = df_latin.sort_values(by='texts', ascending=False).reset_index(drop=True)
df_latin

   letter   texts
0       E  12.700
1       T   9.100
2       A   8.200
3       O   7.500
4       I   7.000
5       N   6.700
6       S   6.300
7       H   6.100
8       R   6.000
9       D   4.300
10      L   4.000
11      C   2.800
12      U   2.800
13      M   2.400
14      W   2.400
15      F   2.200
16      G   2.000
17      Y   2.000
18      P   1.900
19      B   1.500
20      V   0.980
21      K   0.770
22      X   0.150
23      J   0.150
24      Q   0.095
25      Z   0.074

In [77]:
left_latin = {'letter': [], 'freq': []}
right_latin = {'letter': [], 'freq': []}

total_freq = df_latin['texts'].sum()
target_freq = total_freq / 2

current_left_latin = 0
current_right_latin = 0

for i, letter in df_latin.iterrows():
    if current_left_latin < current_right_latin:
        left_latin['letter'].append(letter['letter'])
        left_latin['freq'].append(df_latin['texts'][i])
        current_left_latin += df_latin['texts'][i]
    else:
        right_latin['letter'].append(letter['letter'])
        right_latin['freq'].append(df_latin['texts'][i])
        current_right_latin += df_latin['texts'][i]

print('left_latin','\n', pd.DataFrame(left_latin), '\n', current_left_latin)
print('right_latin', '\n', pd.DataFrame(right_latin), '\n', current_right_latin)

left_latin
    letter   freq
0       T  9.100
1       A  8.200
2       I  7.000
3       S  6.300
4       R  6.000
5       L  4.000
6       M  2.400
7       F  2.200
8       G  2.000
9       P  1.900
10      K  0.770
11      J  0.150
12      Z  0.074
 50.093999999999994
right_latin
    letter    freq
0       E  12.700
1       O   7.500
2       N   6.700
3       H   6.100
4       D   4.300
5       C   2.800
6       U   2.800
7       W   2.400
8       Y   2.000
9       B   1.500
10      V   0.980
11      X   0.150
12      Q   0.095
 50.024999999999984

In [63]:
df_latin.T

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
letter,E,T,A,O,I,N,S,H,R,D,...,G,Y,P,B,V,K,X,J,Q,Z
texts,12.7,9.1,8.2,7.5,7.0,6.7,6.3,6.1,6.0,4.3,...,2.0,2.0,1.9,1.5,0.98,0.77,0.15,0.15,0.095,0.074